header .row{
    display:flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: flex-end;
}

header a{
    padding:20px;
    font-weight: 700;
    color: black;
    font-family: 'Unica One', cursive;
}

.menu{
    font-size: 1.3em;
}

header h1{
    font-weight: 700;
    margin-left: 10px;
    font-family: 'Unica One', cursive;
}

header{
    background-color: mediumseagreen;
    color:black;
    padding:5px;
}

header img{
    margin-left: 50px;
}



#acerca{
    font-size: 5em;
    text-align: left;
    font-family: 'Unica One', cursive;
}

#instr{
    font-size: 1em;
    text-align: left;
    font-family: 'Unica One', cursive;
}

h3, .etiqueta{
    font-family: 'Vollkorn', serif;
}

.etiqueta{
    font-size: 1.5em;
}

.imagenes{
    height: 200px;
    width: auto;
}

.col-sm-6, .col-sm-12, #tercero,#cuarto,#quinto{
    text-align: center;
}

#tercero,#cuarto,#quinto{
    padding-top: 5%;
}

#segundo,#tercero,#cuarto,#quinto,#sexto,#septimo,#octavo,#noveno{
    visibility: hidden;
}

#primero{
    padding-top: 5%;
}

#noveno{
    padding-top: 2%;
}

button {

    border-radius: 100px;
    border: 0px;
    color: white;
    text-shadow: none;
    background-color: royalblue;
    font-family: 'Unica One', cursive;
}

#grande{
    left: 41.8%;
    top:4%;
    width: 3.5em;
    height: 3.5em;
}

#unoB{
    left: 89.8%;
    top:5%;
    width: 1.7em;
    height: 1.7em;
}

#dosB,#dosdosB{
    left: 89.8%;
    top:38%;
    width: 1.7em;
    height: 1.7em;
}

#tresB{
    left: 43%;
    top:30.1%;
    width: 1.7em;
    height: 1.7em;
}

#cuatroB{
    left: 43%;
    top:71.5%;
    width: 1.7em;
    height: 1.7em;
}

footer{
    margin-top: 150px;
    background-color: mediumseagreen;

}

footer .iconos {
    display: flex;
    justify-content: center;
}

footer .firma{
    justify-content: center;
    display: flex;
    margin-top: 30px;

}

footer li img{
    width: 32px;
    height: 32px;
}

footer img.panda{
    justify-content: center;
    margin-top: 10px;
    margin-left: 645px;
    margin-bottom: 30px;
}
