header .row{
    display:flex;
    align-items: center;
}
header nav {
    display: flex;
    justify-content: flex-end;
}

header a{
    padding:20px;
    font-weight: 700;
    color: black;
    font-family: 'Unica One', cursive;
}

.menu{
    font-size: 1.3em;
}

header h1{
    font-weight: 700;
    margin-left: 10px;
    font-family: 'Unica One', cursive;
}

header{
    background-color: mediumseagreen;
    color:black;
    padding:5px;
}

header img{
    margin-left: 50px;
}

.jumbotron {
    display: flex;
    align-items: center;
    background-size: cover;
    background-image: url("paramo.jpg");
    width: 100%;
    height: 30em;
    color: #ffffff;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: white;
    text-shadow: none;
    background-color: mediumseagreen;
}

.btn.btn-primary:hover {
    color:mediumseagreen;
    background-color: #ffffff;
}

.container #parrafo {
    display: flex;
}

div h2{
    font-family: 'Unica One', cursive;
    font-size: 5em;
}

.col-sm-6 h3{
    font-family: 'Unica One', cursive;
}

.col-sm-6 p{
    font-family: 'Vollkorn', serif;
}

footer{
    background-color: mediumseagreen;

}

footer .iconos {
    display: flex;
    justify-content: center;
}

footer .firma{
    justify-content: center;
    display: flex;
    margin-top: 30px;

}

footer li img{
    width: 32px;
    height: 32px;
}

footer img.panda{
    justify-content: center;
    margin-top: 10px;
    margin-left: 645px;
    margin-bottom: 30px;
}
